<!DOCTYPE html>
<html lang="en">
<title>{{ page.title }} | Blog | Manav Malik</title>
<script
        crossorigin="anonymous"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        src="https://code.jquery.com/jquery-3.3.1.js">
</script>
<script>
    $(function () {
        $("#header").load("/header.html");
        $("#footer").load("/footer.html");
    });
</script>
<div id="header"></div>

<body>

<!-- Header -->
<header class="w3-container w3-lime w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">{{ page.title }}</h1>
    <p class="w3-xlarge">{{ page.blurb }}</p>
    <p class="w3-large">{{ page.date | date_to_string }}</p>
    <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top" href="#post">Read Post</a>
</header>
<div class="w3-row-padding w3-padding-64 w3-container" id="post">
    <div class="w3-content">
        <div>
            <p class="w3-text-grey">
              {{ content }}
            </p>
        </div>
    </div>
</div>

<div id="footer"></div>

</body>
</html>
